<div class="status-show-wrapper">
  <div id="edit-status-container" class="show-status-container">
    <h1>Editing Status</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @status %> |
    <%= link_to 'Back', statuses_path %>

  </div>
</div>
