/* line 5, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lora', serif;
}

/* line 9, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 18, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.page-wrapper {
  background-color: #FFFFF8;
}

/* line 22, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.full-banner-image {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

/* line 28, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
a {
  font-size: 1.3em;
}

/* line 32, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.container {
  margin-top: 10px;
}

/* Navbar CSS */
/* line 36, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.navbar-default {
  background-color: #A81D1D;
}

/* line 40, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.box-effect-yellow {
  -webkit-box-shadow: 0px 0px 5px 0px #EFE75E;
  -moz-box-shadow: 0px 0px 5px 0px #EFE75E;
  box-shadow: 0px 0px 5px 0px #EFE75E;
}

/* line 46, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.box-effect-green {
  -webkit-box-shadow: 0px 0px 5px 0px #6ADA4A;
  -moz-box-shadow: 0px 0px 5px 0px #6ADA4A;
  box-shadow: 0px 0px 5px 0px #6ADA4A;
}

/* line 52, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.box-effect {
  -webkit-box-shadow: 0px 0px 5px 0px #000;
  -moz-box-shadow: 0px 0px 5px 0px #000;
  box-shadow: 0px 0px 5px 0px #000;
}

/* line 58, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.sidebar-animate {
  background-color: #333F4F;
  border: none;
  margin-top: -1px;
  margin-right: 0 !important;
  padding-left: 0;
}
/* line 65, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.sidebar-animate .nav > li > a {
  padding: 10px 0px !important;
}

/* line 70, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.navbar-toggle:hover {
  background-color: #333F4F;
}

/* line 74, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
a.navbar-brand {
  color: #FFF !important;
}

/* UNIVERSAL CLASSES */
/* line 79, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.small-text {
  font-size: 0.8em;
}

/* line 83, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.gray {
  color: #777;
}

/* To prevent fixed navbar covering up the content  */
/* line 89, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
body {
  padding-top: 40px;
}

/* line 91, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.nav.navbar-nav a {
  color: #FFF !important;
}

/* line 95, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.page-header {
  margin: 0;
  background-color: #23C0BA;
  padding: 10px 20px;
  color: #FFF;
}

/* line 102, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.bg-white {
  background-color: white;
}

/* line 106, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.status {
  margin: 0 20px;
}

/* line 110, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
p.message {
  text-align: center;
  margin-top: 10px;
  padding: 10px 0px;
  border: 1px solid;
  font-size: 16px;
}

/* line 118, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#news-feed {
  padding: 10px 15px 0px 0px;
}

/* line 122, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#all-posts {
  margin-top: -1px;
  padding: 20px 10px;
}

/* line 128, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#index-side-bar {
  padding: 0;
}

/* line 134, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box a {
  font-size: 16px;
}

/* line 139, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box {
  margin-top: 10px;
}
/* line 143, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box #popular-header {
  background-color: #EFE75E;
  color: #FFF;
  padding: 10px 20px;
}
/* line 148, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box #popular-header h3 {
  margin: 0;
  color: #083A2F;
}
/* line 154, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box #popular-tags {
  margin: 10px 20px;
  padding-bottom: 10px;
}
/* line 158, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box #popular-tags a {
  color: #777;
  margin-right: 10px;
}
/* line 162, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-tag-box #popular-tags a:hover {
  text-decoration: none;
  color: #A81D1D;
}

/* line 171, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box {
  margin-top: 10px;
}
/* line 175, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box #popular-header {
  background-color: #6ADA4A;
  color: #FFF;
  padding: 10px 20px;
}
/* line 180, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box #popular-header h3 {
  margin: 0;
  color: #083A2F;
}
/* line 186, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box #popular-tags {
  margin: 10px 20px;
}
/* line 189, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box #popular-tags a {
  color: #777;
  margin-right: 10px;
}
/* line 193, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#popular-status-box #popular-tags a:hover {
  text-decoration: none;
  color: #A81D1D;
}

/* APPLICATION TEMPALTE CSS */
/* line 204, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 209, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.cf:after {
  clear: both;
}

/* line 213, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.cf {
  zoom: 1;
}

/*-------------------------------------*/
/* line 219, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper {
  float: none;
  position: absolute;
  width: 250px;
  padding: 5px;
  margin: 10px auto;
  display: inline;
  background: #333F4F;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 235, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper input {
  width: 180px;
  height: 20px;
  padding-left: 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 248, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

/* line 256, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* line 262, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* line 268, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* line 274, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 20px;
  width: 60px;
  font: bold 10px/20px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #A81D1D;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 293, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button:hover {
  background: #e54040;
}

/* line 297, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button:active,
.form-wrapper #search-button:focus {
  background: #c42f2f;
}

/* line 302, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

/* line 312, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button:hover:before {
  border-right-color: #e54040;
}

/* line 316, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button:focus:before {
  border-right-color: #c42f2f;
}

/* line 320, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.form-wrapper #search-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* INDEX PAGE CSS */
/* line 327, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.round-button-circle {
  width: 75px;
  height: 75px;
  padding-bottom: 50px;
  border-radius: 50px;
  overflow: hidden;
  background: #A81D1D;
  box-shadow: 0 0 3px gray;
  position: fixed;
  right: 18%;
  bottom: 10%;
}

/* line 339, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.round-button-circle:hover {
  background: #B40404;
}

/* line 342, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 68%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.9em;
  text-align: center;
  color: #FFF;
  font-family: Verdana;
  font-size: 3em;
  text-decoration: none;
}

/* line 357, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.status a {
  text-decoration: none;
  color: #333F4F;
}

/* line 362, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.status p {
  margin: 0;
  color: #333F4F;
}

/* line 367, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.meta {
  margin-bottom: 20px;
  color: #777;
}

/* NEW STATUS CSS */
/* line 375, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.center {
  margin: auto;
  display: table;
}

/* line 380, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container {
  padding: 0px;
  margin: auto;
  width: 500px;
  margin-top: 50px;
  border: 2px solid #BBB;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #BBB;
}
/* line 391, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-header h1 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  background-color: #333F4F;
  color: #FFF;
}
/* line 401, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body {
  padding: 10px;
}
/* line 405, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body p {
  margin: 0;
}
/* line 409, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body textarea#status_tag_list {
  height: 30px;
}
/* line 413, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body textarea#status_content {
  height: 100px;
}
/* line 417, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body .form-group.text.required.status_content {
  margin: 0;
}
/* line 421, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body label.text.required.control-label {
  font-size: 0.8em;
  color: #777;
}
/* line 426, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body input.btn.btn-default.status-submit-button {
  background-color: #333F4F;
  color: #FFF;
}
/* line 431, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body input.btn.btn-default.status-submit-button:hover {
  background-color: #657c9b;
  color: #FFF;
}
/* line 436, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body .back-button {
  background-color: #333F4F;
  color: #FFF;
  margin-top: -34px;
  padding: 6px 40px;
  float: right;
}
/* line 444, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.show-status-container .status-form-body .back-button:hover {
  background-color: #657c9b;
  color: #FFF;
}

/* SHOW STATUS CSS */
/* line 455, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.status-comment-info {
  padding-left: 10px;
}

/* line 459, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-tag {
  padding: 0;
  padding-left: 10px;
}
/* line 464, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-tag a {
  font-size: 1em;
  color: #333F4F;
}
/* line 468, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-tag a:hover {
  color: #A81D1D;
  font-size: 1.1em;
  text-decoration: none;
}

/* line 478, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-content p {
  font-size: 1.5em;
  color: #a81d1d;
  margin-bottom: 20px;
  padding: 10px;
}

/* line 488, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-link a {
  color: #333F4F;
  font-size: 1em;
}

/* line 494, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-header {
  margin: 0px;
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #BBB;
}

/* line 500, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-report {
  float: right;
}

/* line 504, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment {
  padding: 10px;
  padding-top: 30px;
}
/* line 508, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment h3 {
  padding-top: 10px;
  border-top: 1px dashed #777;
  font-size: 1em;
}
/* line 514, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment label {
  content: "Comment";
  font-size: 1em;
  color: #777;
}
/* line 520, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment a {
  font-size: 0.8em;
  color: #333F4F;
}
/* line 524, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment a:hover {
  text-decoration: none;
  color: #A81D1D;
}
/* line 529, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment .form-group.text.required.user_comment_content {
  margin: 0;
}
/* line 533, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
div#status-comment input {
  margin: auto;
  display: table;
}

/* EDIT STATUS CSS */
/* line 541, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#edit-status-container {
  padding: 10px;
}

/* line 545, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#edit_tag_list {
  height: 30px;
}

/* line 549, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.edit-status-content textarea {
  height: 100px;
}

/* line 553, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.edit-status-content .form-group {
  margin-bottom: 0;
}

/* USER LOGIN CSS */
/* Tag Cloud */
/* line 561, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.tag-cloud a {
  margin-right: 2em;
  text-decoration: none;
  color: #333F4F;
}

/* Reporting */
/* line 568, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.report a, small {
  color: red;
}

/* ALL MEDIA QUERIES  */
@media screen and (max-width: 768px) {
  /* line 578, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  #menu-navbar {
    display: none;
  }

  /* line 582, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  ul.nav.navbar-nav.pull-right {
    width: 100%;
  }

  /* line 586, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .round-button-circle {
    right: 5%;
    bottom: 5%;
  }
}
@media screen and (max-width: 440px) {
  /* line 597, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .form-wrapper input {
    width: 60px !important;
  }

  /* line 601, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .navbar-brand {
    font-size: 12px;
    padding: 15px 10px;
  }

  /* line 606, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .form-wrapper input#search-textfield {
    width: 90px !important;
  }

  /* line 610, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .form-wrapper {
    width: 170px !important;
  }

  /* line 614, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .devise-wrapper {
    width: 280px !important;
  }

  /* line 618, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .col-md-6.inactive {
    display: none;
  }

  /* line 622, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  div#registration-header h2 {
    margin: 20px auto;
  }

  /* line 627, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .show-status-container {
    width: 300px;
    margin-bottom: 30px;
  }

  /* line 632, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .container {
    padding: 0;
  }

  /* line 636, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  div#status-info {
    margin-left: 10px;
  }
}
/* line 641, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.pagination {
  margin-left: 20px;
  font-size: 1em;
}
/* line 646, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.pagination a {
  color: #4ACAA8;
  font-size: 1em;
}
/* line 651, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.pagination a:hover {
  color: #A81D1D;
  text-decoration: none;
}

/* line 657, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#user_ivle_id {
  display: none;
}

/* line 661, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#user_ivle_name {
  display: none;
}

/* line 665, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
.padding-text {
  padding: 20px;
}

/* line 669, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#about {
  text-align: justify;
}
/* line 673, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#about h3 {
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 678, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#about .col-md-5, #about .col-md-7 {
  margin: 0;
  padding: 0;
}
/* line 683, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#about td {
  padding-right: 15px;
}

/* line 688, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#home-intro {
  position: absolute;
  top: 200px;
  left: 5%;
}
/* line 693, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#home-intro h3 {
  margin: 0;
  padding: 0;
  font-size: 3.8em;
}
/* line 699, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
#home-intro p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

@media screen and (min-width: 768px) {
  /* line 708, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .hidden-lg {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 714, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .full-banner-image {
    width: 200%;
  }
}
@media screen and (max-width: 768px) {
  /* line 720, /Users/hanlynn/Documents/Programming/GitHub/NUSGHoss/app/assets/stylesheets/statuses.scss */
  .full-banner-image {
    width: 300%;
  }
}
