/* PROFILE PAGE CSS */
/* line 8, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: 'Lora';
}

/* line 12, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.image {
  width: 100px;
  padding: 20%;
}

/* line 17, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.full-height {
  height: 100%;
}

/* line 21, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.bg-cyan {
  background-color: #4ACAA8;
}

/* line 25, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.no-padding {
  padding: 0;
}

/* line 29, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.no-margin {
  margin: 0;
}

/* line 33, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#profile {
  padding-top: 50px;
}
/* line 37, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#profile .profile-image {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
}
/* line 43, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#profile label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #FFF;
  background-color: #333F4F;
}
/* line 51, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#profile p {
  text-align: center;
  color: #333F4F;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 58, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#profile #button-profile {
  margin: 20px 0;
  background-color: #F05B47;
  border: none;
  width: 80%;
  margin-left: 10%;
}

/* line 67, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#status {
  padding: 0;
  margin: 0;
}
/* line 71, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#status h2 {
  margin: 0;
  padding: 15px 0 10px 0px;
  text-align: center;
  background-color: #333F4F;
  color: #FFF;
}

/* line 79, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.status-container {
  padding: 30px;
}
/* line 83, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.status-container .status {
  padding-top: 10px;
  border-bottom: solid 1px #777;
}
/* line 87, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.status-container .status a {
  color: #333F4F;
  font-size: 1.2em;
}

/* REGISTRATION FORM CSS */
/* line 95, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper {
  width: 520px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #777;
}
/* line 101, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header {
  background-color: #333F4F;
}
/* line 103, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header .col-md-6 {
  width: 267px;
}
/* line 107, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header h2 {
  padding-top: 3px !important;
}
/* line 109, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header h2, .devise-wrapper .devise-header a {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #FFF;
  text-align: center;
  margin: auto;
  display: block;
}
/* line 119, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header a:hover {
  text-decoration: none;
  color: #811616;
}
/* line 124, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-header .inactive {
  background-color: #6B83A3;
}
/* line 129, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content {
  padding: 10px;
}
/* line 133, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content input {
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 20px;
}
/* line 139, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content .half {
  width: 90%;
  margin-left: 5%;
}
/* line 144, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content input.btn.btn-default {
  background-color: #333F4F;
  color: #FFF;
}
/* line 149, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content input.btn.btn-default:hover {
  background-color: #4ACAA8;
  text-decoration: none;
}
/* line 154, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.devise-wrapper .devise-content .remember-checkbox {
  max-width: 15px;
}

/* line 161, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#login-header h2 {
  padding: 20px !important;
}

/* line 167, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#login-extra-link a {
  font-size: 1em;
}

/* line 174, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#registration-header h2 {
  margin-top: 20px;
}
/* line 178, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#registration-header a {
  padding-top: 20px;
}

/* EDIT USER CSS */
/* line 185, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#edit-user-container {
  padding: 0;
  border: 1px solid #AAA;
}

/* line 190, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#edit-user-form {
  padding: 20px 8% 20px 12%;
  border-right: 1px solid #EEE;
}
/* line 194, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#edit-user-form .user-edit-field {
  margin-bottom: 20px;
}
/* line 197, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#edit-user-form .user-edit-field input {
  width: 80%;
}
/* line 202, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
div#edit-user-form #btn-update {
  margin: auto;
  display: block;
}

/* line 208, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
.hide {
  display: none;
}

/* line 214, c:/sites/NUSGhoss/app/assets/stylesheets/users.scss */
#registration-header a#facebook-signup {
  display: none !important;
}
