<p id="notice"><%= notice %></p>
<h1>Listing Facilities</h1>
<table>
  <% @facilities.each do |facility| %>
  <tr class="inline-list">
  		<td><%= image_tag "facility.png", :class=>"image" %></td>
    	<td><%= link_to facility.name, facility %></td>
	</tr>
  <% end %>
</table>
