// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Lora', serif;
}

a{
		font-size:1.3em;
}

/* Navbar CSS */
.navbar-default{
	background-color:#F05B47;
}

.sidebar-animate{
	background-color:#333F4F;
}
.navbar-header{

}

a.navbar-brand{
	color:#FFF !important;
}


/* To prevent fixed navbar covering up the content  */
body { padding-top: 40px; }

.nav.navbar-nav a{
	color:#FFF !important;
}

.page-header{
	margin-bottom:20px;
}

/* APPLICATION TEMPALTE CSS */

.notice, .alert{
	display:none;
}

/* INDEX PAGE CSS */
.round-button-circle {
	width: 75px;
	height:75px;
	padding-bottom: 50px;
    border-radius: 50px;
    overflow:hidden;
    background: #F05B47;
    box-shadow: 0 0 3px gray;
    position:fixed;
    right:18%;
    bottom:10%;
}
.round-button-circle:hover {
	background:#B40404;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.9em;
	text-align:center;
	color:#FFF;
    font-family:Verdana;
    font-size:1em;
    text-decoration:none;
}

.status a{
	text-decoration: none;
	color:#333F4F;
}

.status p{
	margin:0;
	color:#333F4F;
}

.meta{
	margin-bottom:20px;
	color:#777;
}


/* NEW STATUS CSS */
.back-button{
	margin-top:-30px;
	padding:6px 40px;
	float:right;
}

/* USER LOGIN CSS */
@media screen and (max-width:768px){
	#menu-navbar{
		display:none;
	}

	ul.nav.navbar-nav.pull-right{
		width:100%;
	}
}

@media screen and (min-width:768px){
	.hidden-lg{
		display:none !important;
	}
}
